 <div class="pricing-table">
    <div class="table-header text-center">
        <h3 class="pricing-table-title h4">{{t "Guests"}}</h3>
        <div class="price">
            <span class="currency">£</span><span class="value">{{t "30"}}</span>
            <span class="duration">{{t ""}}</span>
        </div>
    </div>
    <ul class="table-details">
    <u><li>{{>icons/check-mark}}<a href="https://buy.stripe.com/dR600B6iKa8C83CfZ8">{{t "Friday 10th June 3pm-5pm Dakota Hotel Leeds - Katie Malinson"}}</a></li>
       <li>{{>icons/check-mark}}<a href="https://buy.stripe.com/8wMaFffTka8CcjS3cj">{{t "Friday 1st July Time - TBC John Lewis Partners"}}</a></li>
       <li>{{>icons/check-mark}}<a href="https://buy.stripe.com/8wMaFf6iKbcGdnW28j">{{t "Friday 5th August 3pm-5pm Dakota Hotel Leeds - Mike Lukic and Forward Ladies, Griselda Togobo"}}</a></li>
    </ul></u>
    <div class="table-footer text-center">
       
    </div>
</div> 