{{!--
  Overview page of all authors with their bios and recent posts.
--}}

{{!< default}}

{{#get "authors" limit="all" include="count.posts" order="count.posts desc"}}
  {{#foreach authors}}
    <section class="flex flex-col {{slug}} max-w-6xl mx-auto my-32">
      <div class="flex flex-col lg:flex-row lg:items-center gap-4 lg:gap-8 pb-8 border-b border-b0 mb-8">
        {{#if profile_image}}
          <img src="{{profile_image}}" alt="{{name}}" class="w-32 h-32 object-cover rounded-full" />
        {{/if}}
        <div class="flex flex-col gap-2 md:max-w-xl">
          <div class="flex items-center gap-2">
            <h2>{{name}}</h2>
            <div class="flex gap-2 items-center text-sm opacity-30 hover:opacity-70 transition-all duration-200 text-h4">
              {{> "author-social-links" itemClass="hover:underline"}}
            </div>
          </div>
          {{#if bio}}
            <p>{{bio}}</p>
          {{/if}}
        </div>
        <div class="flex flex-col lg:self-end lg:ml-auto">
          <div class="flex items-center gap-2 font-medium">{{plural count.posts empty="" singular="1 post" plural="% posts"}}</div>
          {{#match count.posts ">" 4}}
            <a href="{{url}}" class="flex items-center gap-2 text-sm opacity-50">
              <span class="hover:underline">{{t "View all"}}</span> <span data-icon="arrow_right"></span>
            </a>
          {{/match}}
        </div>
      </div>
      {{#get "posts" filter="authors:[{{slug}}]" limit="4" include="authors,tags"}}
        {{> "posts-group" title=name href=url posts=posts }}
      {{/get}}
    </section>
  {{/foreach}}
{{/get}}